.wpcf7{

	.wpcf7-form{
		p{margin: 1.5em 0;}
		span{display: block;}

		input,
		textarea{ width: 75%; }

		input{
			height: 2em;
			line-height: 2em;
			color: #888;
		}

		input[type="submit"]{
			background-color: $primary-color;
			color: #fff;
			border: none;
			line-height: 1;
			margin: 0; padding: 0;
			max-width: 50%;
			height: 3em;
		}

	}
}