._module-testimonials{
		background-color: #fff;
		width: 100%;
		max-width: 100% !important;
		padding: 3em 0;
		margin-bottom: 3em !important;

		._module-testimonials-headline{
			color: $primary-color;
			strong{display: block;}
		}

		.mosaicflow{
			@extend %container;
			max-width: 1200px !important;

			.mosaicflow__column{
				display: block;
				margin: 0 auto;

				@include breakpoint($breakpoint-small-medium) { float: left; }
			}			
		}		
}